# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/

# Production
dist/
build/
buildcache/

# Expo
.expo/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log

# Cache
.cache/
.eslintcache
.npm
.yarn-integrity
